<h1>Courts#index</h1>

<table class="table">
    <thead>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
    </thead>
    <tbody>
        <% @courts.each do |court| %>
        <tr>
            <td><%= link_to "#{court.name}", court %></td>
            <td><%= court.address %></td>
            <td><%= court.city %></td>
            <td><%= court.state %></td>
        </tr>
        <% end %>
    </tbody>
</table>
