
<h1><%= @court.name %> </h1>

<table class="table">
    <thead>
        <th>UserID</th>
        <th>OpponentID</th>
    </thead>
    <tbody>
        <% @games.each do |game| %>
        <tr>
            <td><%= game.user_id %></td>
            <td><%= game.opponent_id %></td>
        </tr>
        <% end %>
    </tbody>
</table>